h1 {
  text-align: center;
}

img {
  float: right;
  padding: 4px;
}

div.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  
}

